body {
  overflow-x: hidden;
}

body {
  background: #1f1f1f;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 2vh;
  font-style: normal;
  color: #ffff;
}

html {
  height: 100vh;
  width: 100vw;
}

h1 {
  font-weight: 700;
  font-size: 2.5vh;
}

.grid-container {
  display: grid;
  grid-row-gap: 20px;
  z-index: -2;
}

.grid-parceiros {
  display: grid;
  grid-template-columns: repeat(3, 30vw);
  grid-template-rows: repeat(3, 18vh);
  grid-gap: 2vw;
  margin-left: 3vw;
  margin-top: 2vh;
  z-index: 3;
}

#jbscard {
  background-image: url("/img/img-parceiros/bg/jbsbg.png");
}

#jbslogotipo {
  display: block;
  height: 5vh;
  margin: 0 auto;
  margin-top: 13px;
  margin-bottom: 20px;
  margin-left: 4px;
}

#ambarlogotipo {
  display: block;
  height: 6vh;
  margin: 0 auto;
  margin-top: 2vh;
  margin-bottom: 6vh;
  margin-right: 0px;
  margin-left: 2px;
}

#originalcard {
  background-image: url("/img/img-parceiros/bg/originalbg.png");
}

#floracard {
  background-image: url("/img/img-parceiros/bg/florabg.png");
}

#picpaycard {
  background-image: url("/img/img-parceiros/bg/picpaybg.png");
}

#ruralcard {
  background-image: url("/img/img-parceiros/bg/ruralbg.png");
}

#ambarcard {
  background-image: url("/img/img-parceiros/bg/ambarbg.png");
}

#eldoradocard {
  background-image: url("/img/img-parceiros/bg/eldoradobg.png");
}
/*

*/
.navezinha {
  margin-bottom: 20px;
  margin-top: 15px;
  text-transform: uppercase;
  font-weight: normal;
  flex-wrap: nowrap;
}

.navezinha > p {
  margin-left: 36px;
}

#quadradoazul {
  background-color: #2e3092;
  height: 10px;
  width: 30px;
  z-index: 3;
  position: relative;
  float: left;
  color: transparent;
}

.fundo {
  opacity: 20%;
  width: 100%;
  position: absolute;
  top: 0px;
  z-index: -1;
  min-height: 150px;
}

#jftextoprincipal {
  margin-left: 3vh;
  margin-top: 10px;
  z-index: 7;
  margin-right: 2vh;
}

main > h1 {
  margin-top: -1px;
}

.logozinho {
  position: absolute;
  align-items: flex-end;
  z-index: 4;
  top: 10px;
  display: flex;
  justify-content: flex-end;
  margin-left: 80vw;
  height: 40px;
}

.botaomais {
  height: 20px;
  display: flex;
  justify-content: flex-end;
  background: transparent;
  border: none;
  margin-top: -20px;
  margin-left: 15vw;
}

.botaomais > img {
  height: 5vh;
}

.grid-item {
  background-color: rgba(12, 12, 12, 0.6);
  background-blend-mode: darken;
  border-radius: 10px;
  padding-left: 10px;
  padding-top: 22px;
  background-size: cover;
  align-content: center;
  justify-content: space-around;
  transition: 0.5s;
  transition-timing-function: ease-in-out;
  z-index: 3;
}

/*
.titulosimg {

}
*/

.bgimgs {
  position: relative;
  margin-left: 10px;
  margin-right: 7px;
  z-index: 1;
  margin-top: -40px;
}

#textoap {
  margin: 0;
  font-weight: normal;
  text-align: center;
  margin-left: 4px;
  margin-right: 1vw;
}

.container {
  display: flex;
  flex-direction: row;
}

#textoprincipal {
  opacity: 100%;
  background-size: cover;
  width: 50vw;
  font-size: 3vh;
  max-height: 100%;
}

.title {
  background-image: url("/img/img-parceiros/bg/aulaspraticasbg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: darken;
  background-position: center;
  width: 40%;
  margin-left: 3vw;
  background-color: rgba(12, 12, 12, 0.52);
  max-width: 210px;
  min-height: 170px;
}

.title > h1 {
  width: 10px;
  height: 10px;
  font-weight: 500;
  font-size: 2.5vh;
  text-transform: uppercase;
  margin-top: 10px;
  margin-left: 5px;
}

#rurallogotipo {
  height: 56px;
  margin-left: 2px;
}

#pplogotipo {
  height: 30px;
  margin-top: 10px;
  margin-left: 1px;
}

#originallogotipo {
  height: 26px;
  margin-top: 13px;
}

#eldoradologotipo {
  height: 30px;
  margin-top: 14px;
  margin-left: -3px;
}

.texto-conclusao {
  margin-left: 3vh;
  margin-top: 10px;
  z-index: 7;
  margin-right: 2vh;
  font-weight: normal;
}

#floralogotipo {
  height: 50px;
  margin-left: 10px;
}

#estaginho {
  margin-top: 35px;
}

.swiftlabel {
  display: block;
  position: relative;
  margin-top: 40px;
  margin-left: 10px;
  margin-right: 10px;
  z-index: 2;
  background-repeat: no-repeat;
  background-image: url("/img/img-parceiros/bg/estagios/bgswift.png");
  border-radius: 6px;
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(12, 12, 12, 0.8);
  width: 295px;
  height: fit-content;
}

.estagiossufit {
  width: 290px;
  height: 200px;
  border: 4px solid #f04e29;
  border-radius: 7px;
  position: relative;
  z-index: 0;
}

.estitulos {
  font-weight: bolder;
  font-size: 2vh;
}

.textosestagios {
  width: 90%;
  padding-bottom: 3vh;
  padding-top: 1vh;
}

#logotiposwift {
  height: 40px;
  margin-top: 20px;
  padding-bottom: 7px;
  margin-bottom: 7px;
  border-bottom: 2px solid #fff;
  border-radius: 2px;
  width: fit-content;
}

.friboicontainer {
  display: block;
  position: relative;
  margin-top: 40px;
  margin-left: 3vw;
  margin-right: 10px;
  z-index: 2;
  background-repeat: no-repeat;
  background-image: url("/img/img-parceiros/bg/estagios/bgfriboi.png");
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(12, 12, 12, 0.8);
  width: 90vw;
  border: 4px solid #c71c23;
  border-radius: 7px;
  position: relative;
  height: fit-content;
  z-index: 0;
  min-height: 25vh;
}

.estitulosfriboi {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 1.8vh;
  background: #1f1f1f;
  position: relative;
  z-index: 2;
  margin-top: -20px;
  padding: 6px;
  width: fit-content;
  border: none;
  margin-left: 20px;
  text-align: left;
  font-weight: bolder;
  margin-bottom: 4px;
}

.imgfribasbg {
  height: 50px;
}

.loguinhos {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-left: -20px;
  margin-bottom: 10px;
  padding-bottom: 5px;
  padding-top: 1vh;
}

.friboicontent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-height: min-content;
}

#searaloguinho {
  border-bottom: 2px solid #fff;
  border-radius: 2px;
}

#swiftestagiop {
  width: 265px;
  margin-left: 15px;
  padding-bottom: 2vh;
}

#gerenteswift {
  height: 250px;
}

.origicontainer {
  display: block;
  position: relative;
  margin-top: 40px;
  margin-left: 3vw;
  margin-right: 10px;
  z-index: 2;
  background-repeat: no-repeat;
  background-image: url("/img/img-parceiros/bg/estagios/bgoriginal.png");
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(12, 12, 12, 0.8);
  width: 90vw;
  border: 4px solid #6cb349;
  border-radius: 7px;
  position: relative;
  height: fit-content;
  z-index: 0;
  min-height: 25vh;
}

#logotiporigi {
  height: 30px;
  width: fit-content;
  margin-top: 20px;
  padding-bottom: 1vh;
  margin-bottom: 1vh;
  border-bottom: 0.5vh solid #fff;
  border-radius: 2px;
}

.piccontainer {
  display: block;
  position: relative;
  margin-top: 40px;
  margin-left: 3vw;
  margin-right: 10px;
  z-index: 2;
  background-repeat: no-repeat;
  background-image: url("/img/img-parceiros/bg/estagios/bgpicpay.png");
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: rgba(12, 12, 12, 0.8);
  width: 90vw;
  border: 4px solid #21c25e;
  border-radius: 7px;
  position: relative;
  height: fit-content;
  z-index: 0;
  min-height: 25vh;
}

#logotippic {
  height: 30px;
  width: fit-content;
  margin-top: 20px;
  padding-bottom: 7px;
  margin-bottom: 7px;
  border-bottom: 2px solid #fff;
  border-radius: 2px;
}

.jbscontainer {
  display: block;
  position: relative;
  margin-top: 40px;
  margin-left: 3vw;
  margin-right: 10px;
  z-index: 2;
  background-repeat: no-repeat;
  background-image: url("/img/img-parceiros/bg/estagios/bgjbs.png");
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-color: rgba(12, 12, 12, 0.8);
  width: 90vw;
  border: 4px solid #ed1d24;
  border-radius: 7px;
  position: relative;
  height: fit-content;
  z-index: 0;
  justify-content: center;
  align-items: center;
  min-height: 25vh;
}

#supervisorezinhos {
  margin-top: 35px;
}

.alunosforad {
  background-image: url("/img/img-parceiros/bg/superbg.png");
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: rgba(12, 12, 12, 0.8);
  width: 100%;
  z-index: -1;
  min-height: 38vh;
  min-width: 320px;
}

#textinhosuper {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 3vh;
  z-index: 2;
  width: fit-content;
  max-height: 100%;
  margin-top: -50px;
  padding-bottom: 15px;
  margin-left: 45vw;
}

#textinho {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}



.swiftcontainer {
  display: block;
  position: relative;
  margin-top: 40px;
  margin-left: 3vw;
  margin-right: 10px;
  z-index: 2;
  background-repeat: no-repeat;
  background-image: url("/img/img-parceiros/bg/estagios/bgswift.png");
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  background-color: rgba(12, 12, 12, 0.8);
  width: 90vw;
  border: 4px solid #f04e29;
  border-radius: 7px;
  position: relative;
  height: fit-content;
  z-index: 0;
  min-height: 25vh;
}

#jbsinfo {
  display: none;
}

#origiinfo {
  display: none;
  margin-top: 140px;
  margin-right: 35px;
}

#picinfo {
  display: none;
  margin-top: 95px;
}

#florainfo {
  display: none;
  margin-right: 40px;
}

#ambarinfo {
  display: none;
  margin-top: 120px;
  margin-right: 40px;
}

#ruralinfo {
  display: none;
  margin-right: 20px;
}

#eldoradoinfo {
  display: none;
  margin-top: 110px;
}

.wrapper a {
  display: inline-block;
  text-decoration: none;
  padding: 15px;
  background-color: #ffff;
  border-radius: 3px;
  text-transform: uppercase;
  color: #000000;
  font-family: "Roboto", sans-serif;
}

.modal {
  z-index: 20;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(30, 30, 31, 0.61);
  transition: all 0.4s;
}

.modal:target {
  visibility: visible;
  opacity: 1;
}

.modal__content {
  color: #000000;
  border-radius: 4px;
  position: relative;
  width: 500px;
  max-width: 50vw;
  background: rgb(196, 193, 193);
  padding: 1em 2em;
}

.modal__footer {
  text-align: right;
}
.modal__footer > a {
  color: #585858;
}

.modal__footer > i {
  color: #d02d2c;
}

.modal__close {
  font-size: 30px;
  position: absolute;
  top: 10px;
  right: 10px;
  color: #585858;
  text-decoration: none;
}

@media only screen and (min-width: 325px) and (max-width: 420px) {
  .grid-parceiros {
    grid-template-columns: repeat(3, 26vw);
    margin-left: 5vw;
  }

  #textinhosuper {
    margin-left: 45vw;
  }

  #ambarinfo {
    margin-right: 30vw;
  }

  #infoambar {
    margin-top: 10vh;
  }

  #setinhaambar {
    margin-right: -50px;
  }

  #florainfo {
    margin-right: 30vw;
  }

  #infoambar {
    margin-top: 10vh;
  }

  #setinhaflora {
    margin-right: -50px;
  }

  #setinhaorigi {
    margin-bottom: -13vw;
    margin-right: 15vw;
  }

  #origiinfo {
    margin-top: 22vh;
    margin-right: 7vw;
  }
  #infooriginal {
    margin-top: 1vh;
  }
}

@media only screen and (min-width: 420px) {
  .grid-parceiros {
    grid-template-columns: repeat(3, 29vw);
    grid-template-rows: repeat(3, 25vh);
    margin-left: 4vw;
  }

  .botaomais > img {
    height: 6vh;
  }

  .botaomais {
    margin-left: 18vw;
  }

  .logozinho {
    margin-left: 85vw;
    height: 9vh;
  }

  #textinhosuper {
    margin-left: 60vw;
  }

  #jbslogotipo {
    height: 6vh;
    margin: 0 auto;
    margin-top: 30px;
    margin-left: 3vw;
  }

  #originallogotipo {
    height: 5.8vh;
    margin-top: 5vh;
    margin-left: 1vw;
  }

  #pplogotipo {
    height: 6vh;
    margin-top: 6vh;
    margin-left: 3vw;
  }

  #floralogotipo {
    height: 12vh;
    margin-left: 4vw;
    margin-top: 2vh;
  }

  #rurallogotipo {
    height: 12vh;
    margin-left: 2.5vw;
    margin-top: 3vh;
  }

  .cardinfo {
    margin-right: 10vw;
  }

  #eldoradoinfo {
    margin-top: 35vh;
    margin-right: 6vw;
  }

  #ambarinfo {
    margin-right: 20vw;
  }

  #infoambar {
    margin-top: 10vh;
  }

  #setinhaambar {
    margin-right: -50px;
    margin-top: 5vh;
  }

  #ambarlogotipo {
    height: 7.5vh;
    margin-top: 5vh;
    margin-left: 2vw;
  }

  #eldoradologotipo {
    height: 6vh;
    margin-top: 5vh;
    margin-left: 2vw;
  }

  #florainfo {
    margin-right: 20vw;
    margin-top: -6vh;
  }
  #setinhaflora {
    margin-right: -50px;
    margin-top: 5vh;
  }

  #setinhaorigi {
    margin-bottom: -16vw;
    margin-right: 15vw;
  }

  #origiinfo {
    margin-top: 27vh;
    margin-right: 7vw;
  }
  #infooriginal {
    margin-top: 2vh;
  }
}

@media only screen and (min-width: 500px) {
  .friboicontainer,
  .swiftcontainer,
  .origicontainer,
  .piccontainer,
  .jbscontainer {
    min-height: 30vh;
    align-items: center;
  }

  .friboicontent {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .loguinhos {
    height: fit-content;
    margin: 1vh;
    display: flex;
    flex-wrap: wrap;
    border: none;
    width: fit-content;
  }
  .textosestagios {
    width: 50%;
    padding-top: 4vh;
  }

  #friboiloguinho {
    height: 8vh;
  }

  #floraloguinho {
    height: 8vh;
    padding-right: 2vw;
    border-right: 3px solid #fff;
  }
  #logotiposwift {
    border-bottom: 0px;
    height: 9vh;
  }

  #logotiporigi {
    border-bottom: 0px;
    height: 8vh;
  }

  #logotippic {
    border-bottom: 0px;
    height: 8vh;
  }

  #searaloguinho {
    border-bottom: 0px;
    height: 8vh;
  }

  .logosestagios {
    padding-right: 15px;
    margin: 0px;
    height: 6vh;
    margin-bottom: 7vh;
    margin-right: 3vw;
    margin-left: 3vw;
    border-right: 3px solid #fff;
    border-radius: 2px;
  }
  .logozinho {
    margin-left: 86vw;
    height: 9vh;
  }

  .grid-parceiros {
    grid-template-columns: repeat(3, 28vw);
    margin-left: 4vw;
  }

  .botaomais > img {
    height: 7vh;
  }

  #jbslogotipo {
    height: 6vh;
    margin: 0 auto;
    margin-top: 30px;
    margin-left: 4vw;
  }

  #originallogotipo {
    height: 6vh;
    margin-top: 5vh;
    margin-left: 2vw;
  }

  #pplogotipo {
    height: 6.5vh;
    margin-top: 5vh;
    margin-left: 3vw;
  }

  #floralogotipo {
    height: 12.5vh;
    margin-left: 5vw;
  }

  #jbsinfo {
    margin-right: 13vw;
  }

  #picinfo {
    margin-top: 26vh;
  }

  #eldoradoinfo {
    margin-top: 35vh;
    margin-right: 12vw;
  }
  #ambarinfo {
    margin-top: 20vw;
  }

  #rurallogotipo {
    height: 12vh;
    margin-left: 3.5vw;
    margin-top: 3vh;
  }

  #ambarlogotipo {
    height: 8vh;
    margin-top: 5vh;
    margin-left: 3vw;
  }

  #eldoradologotipo {
    height: 7vh;
    margin-top: 5vh;
    margin-left: 1vw;
  }

  #origiinfo {
    margin-top: 31vh;
  }
}

@media only screen and (min-width: 660px) and (max-width: 1700px) {
  .logozinho {
    margin-left: 90vw;
    height: 9vh;
  }
  #jftextoprincipal {
    margin-right: 30px;
    margin-bottom: 15px;
    font-size: 2.6vh;
  }

  .texto-conclusao {
    font-size: 1vw;
  }

  .botaomais > img {
    height: 8vh;
  }

  #jbslogotipo {
    height: 7vh;
    margin: 0 auto;
    margin-top: 30px;
    margin-left: 5vw;
  }

  #originallogotipo {
    height: 7vh;
    margin-top: 5vh;
    margin-left: 3vw;
  }

  #pplogotipo {
    height: 7vh;
    margin-top: 5.5vh;
    margin-left: 5vw;
  }

  #floralogotipo {
    height: 13vh;
    margin-left: 6vw;
  }

  #jbsinfo {
    margin-right: 13vw;
  }

  #ambarinfo {
    margin-top: 17vw;
  }

  #rurallogotipo {
    height: 13vh;
    margin-left: 5vw;
    margin-top: 3vh;
  }

  #ambarlogotipo {
    height: 9vh;
    margin-top: 6vh;
    margin-left: 4.3vw;
  }

  #eldoradologotipo {
    height: 8vh;
    margin-top: 5vh;
    margin-left: 3vw;
  }

  #origiinfo {
    margin-top: 35vh;
  }

  #infooriginal {
    margin-top: 4.9vh;
  }
}

@media only screen and (min-width: 720px) and (max-width: 1700px) {
  body {
    font-size: 2.4vh;
    line-height: 3.2vh;
  }

  #textoap {
    margin-left: 3vw;
    max-width: 50vw;
    line-height: 3.2vh;
  }

  .title {
    scale: 7;
    min-width: 40vw;
    min-height: 50vh;
  }

  .titulosimg {
    font-size: 3vh;
    line-height: 3vh;
    margin-bottom: -10px;
    margin-top: -60px;
  }

  #textoprincipal,
  #textinhosuper {
    font-size: 4vh;
    line-height: 4vh;
    margin-left: 6vw;
  }

  #textinhosuper {
    margin-left: 70vw;
    width: fit-content;
    padding-bottom: 20px;
  }

  .grid-parceiros {
    grid-template-columns: repeat(3, 26vw);
    grid-template-rows: repeat(3, 29vh);
    grid-gap: 3vw;
    margin-left: 5vw;
    margin-top: 12px;
    z-index: 3;
  }

  #quadradoazul {
    height: 14px;
    justify-content: center;
    align-items: center;
  }

  .texto-conclusao {
    font-size: 2.4vh;
  }

  #jbslogotipo {
    height: 8vh;
    margin: 0 auto;
    margin-top: 40px;
    margin-left: 4vw;
  }

  #originallogotipo {
    height: 8vh;
    margin-top: 7vh;
    margin-left: 2.3vw;
  }

  #pplogotipo {
    height: 8vh;
    margin-top: 7vh;
    margin-left: 4.3vw;
  }

  #floralogotipo {
    height: 14vh;
    margin-left: 6vw;
    margin-top: 3vh;
  }

  #jbsinfo {
    margin-right: 25vw;
  }

  #picinfo {
    margin-top: 32vh;
    margin-right: 25vw;
  }

  #eldoradoinfo {
    margin-top: 50vh;
    margin-right: 25vw;
  }

  #rurallogotipo {
    height: 16vh;
    margin-left: 4vw;
  }

  #ambarlogotipo {
    height: 10vh;
    margin-top: 6vh;
    margin-left: 4vw;
  }

  #eldoradologotipo {
    height: 9vh;
    margin-top: 7vh;
    margin-left: 2vw;
  }
  #origiinfo {
    margin-top: 36vh;
    margin-right: 15vw;
  }

  #infooriginal {
    margin-top: 9vh;
  }
}

@media only screen and (min-width: 832px) and (max-width: 1700px) {
  .botaomais > img {
    height: 9vh;
  }
  .botaomais {
    margin-left: 19vw;
  }

  .grid-parceiros {
    grid-template-columns: repeat(3, 26vw);
    grid-template-rows: repeat(3, 34vh);
    grid-gap: 2vw;
    margin-left: 7vw;
    margin-top: 12px;
    z-index: 3;
  }

  .titulosimg {
    line-height: 3.4vh;
    font-size: 4vh;
  }

  #jbslogotipo {
    height: 9vh;
    margin: 0 auto;
    margin-top: 52px;
    margin-left: 4.7vw;
  }

  #originallogotipo {
    height: 9vh;
    margin-top: 8vh;
    margin-left: 2.5vw;
  }

  #pplogotipo {
    height: 9vh;
    margin-top: 9vh;
    margin-left: 5vw;
  }

  #floralogotipo {
    height: 16vh;
    margin-left: 7vw;
    margin-top: 4vh;
  }

  .estitulosfriboi {
    font-size: 2.5vh;
  }

  #picinfo {
    margin-top: 37vh;
    margin-right: 25vw;
  }

  #jbsinfo {
    margin-right: 25vw;
  }

  #eldoradoinfo {
    margin-top: 56vh;
    margin-right: 25vw;
  }

  #rurallogotipo {
    height: 17vh;
    margin-top: 5vh;
    margin-left: 4.8vw;
  }

  #ambarlogotipo {
    height: 11vh;
    margin-top: 8vh;
    margin-left: 4vw;
  }

  #eldoradologotipo {
    height: 10vh;
    margin-top: 8vh;
    margin-left: 3vw;
  }
  #jftextoprincipal {
    font-size: 3vh;
  }

  #origiinfo {
    margin-top: 30vh;
    margin-right: 15vw;
  }

  #infooriginal {
    margin-top: 12vh;
  }
}

@media only screen and (min-width: 870px) and (max-width: 1700px) {
  #origiinfo {
    margin-top: 30vh;
    margin-right: 15vw;
  }
}

#infooriginal {
  margin-top: 14vh;
}

@media only screen and (min-width: 944px) and (max-width: 1700px) {
  #infooriginal {
    margin-top: 16vh;
  }

  .textosestagios {
    padding-top: 3vh;
  }
}

@media only screen and (min-width: 984px) and (max-width: 1700px) {
  #infooriginal {
    margin-top: 18vh;
  }
}

@media only screen and (min-width: 1050px) and (max-width: 1700px) {
  .botaomais {
    margin-left: 20vw;
  }

  #jbslogotipo {
    height: 9vh;
    margin: 0 auto;
    margin-top: 52px;
    margin-left: 6vw;
  }

  #originallogotipo {
    height: 10vh;
    margin-top: 8vh;
    margin-left: 5vw;
  }

  #floralogotipo {
    height: 18vh;
    margin-left: 6vw;
  }

  #pplogotipo {
    height: 10vh;
    margin-top: 9vh;
    margin-left: 5vw;
  }

  #rurallogotipo {
    height: 19vh;
    margin-top: 4vh;
    margin-left: 6vw;
  }

  #ambarlogotipo {
    height: 13vh;
    margin-top: 8vh;
    margin-left: 5vw;
  }

  #eldoradologotipo {
    height: 13vh;
    margin-top: 8vh;
    margin-left: 2vw;
  }
  #origiinfo {
    margin-top: 55vh;
    margin-right: 8vw;
  }

  #picinfo {
    margin-right: 40vw;
  }

  #jbsinfo {
    margin-right: 40vw;
  }

  #eldoradoinfo {
    margin-bottom: -4vh;
    margin-right: 40vw;
  }

  #setinhaorigi {
    margin-bottom: -17vw;
    margin-right: 15vw;
  }

  #infooriginal {
    margin-top: 22vh;
  }

  #origiinfo {
    margin-top: 30vh;
    margin-right: 18vw;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 2500px) {
  #jbslogotipo {
    height: 9vh;
    margin-left: 7vw;
    margin-top: 9vh;
  }

  #originallogotipo {
    height: 10vh;
    margin-top: 9vh;
    margin-left: 5vw;
  }

  #pplogotipo {
    height: 10vh;
    margin-left: 6.5vw;
  }

  #floralogotipo {
    height: 17vh;
    margin-left: 8vw;
    margin-top: 5vh;
  }

  #jbscard:hover {
    background: #af191e;
  }

  #originalcard:hover {
    background: #477530;
  }

  #floracard:hover {
    background: #627ad9;
  }

  #picpaycard:hover {
    background: #116632;
  }

  #ruralcard:hover {
    background: #0a323f;
  }

  #ambarcard:hover {
    background: #918336;
  }

  #eldoradocard:hover {
    background: #3b8081;
  }

  #rurallogotipo {
    height: 20vh;
    margin-top: 4vh;
    margin-left: 6vw;
  }

  #ambarlogotipo {
    height: 13vh;
    margin-top: 7vh;
    margin-left: 6vw;
  }

  #eldoradologotipo {
    height: 13vh;
    margin-top: 8vh;
    margin-left: 4vw;
  }

  #infooriginal {
    margin-top: 20vh;
  }

  #origiinfo {
    margin-top: 24vh;
    margin-right: 21vw;
  }

  #setinhaorigi {
    margin-bottom: -12vw;
    margin-right: 15vw;
  }

  #ruralinfo {
    margin-top: 12vh;
    margin-right: 27vw;
  }

  #setinharural {
    margin-bottom: -10vh;
  }
}
