html {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

body {
  background: #1f1f1f;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 2vh;
  font-style: normal;
  color: #ffff;
}

h1 {
  font-weight: 700;
  font-size: 2.5vh;
}


.header-parceiros {
  margin-top: -16px;
  background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.7)), url(../img/img-parceiros/bg/parceirosbg.png);
  background-position: center center;
  width: 100vw;
  height: fit-content;
}

.grid-container {
  display: grid;
  grid-row-gap: 20px;
  z-index: -2;
}

.grid-parceiros {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 30vw);
  grid-template-rows: repeat(3, 18vh);
  grid-gap: 2vw;
  margin-top: 2vh;
  z-index: 3;
  justify-content: center;
  margin-right: 0px;
}

#jbscard {
  background-image: url("/img/img-parceiros/bg/jbsbg.png");
}

#jbslogotipo {
  display: block;
  height: 5vh;
  margin: 0 auto;
  margin-top: 13px;
  margin-bottom: 20px;
  margin-left: 4px;
}

#ambarlogotipo {
  display: block;
  height: 6vh;
  margin: 0 auto;
  margin-top: 2vh;
  margin-bottom: 6vh;
  margin-right: 0px;
  margin-left: 2px;
}

#originalcard {
  background-image: url("/img/img-parceiros/bg/originalbg.png");
}

#floracard {
  background-image: url("/img/img-parceiros/bg/florabg.png");
}

#picpaycard {
  background-image: url("/img/img-parceiros/bg/picpaybg.png");
}

#ruralcard {
  background-image: url("/img/img-parceiros/bg/ruralbg.png");
}

#ambarcard {
  background-image: url("/img/img-parceiros/bg/ambarbg.png");
}

#eldoradocard {
  background-image: url("/img/img-parceiros/bg/eldoradobg.png");
}
/*

*/
.navezinha {
  margin-bottom: 20px;
  margin-top: 15px;
  text-transform: uppercase;
  font-weight: normal;
  flex-wrap: nowrap;
}

.navezinha > p {
  margin-left: 36px;
}

.fundo {
  opacity: 20%;
  width: 100%;
  position: absolute;
  top: 0px;
  z-index: -1;
  min-height: 150px;
}

#jftituloprincipal {
  font-size: 3vh;
  text-transform: uppercase;
  margin-top: 10px;
  z-index: 7;
  margin-bottom: 2vh;
  align-self: center;
  margin-top: 10vh;
  text-align: center;
}

.texto-alinhado {
  width: 100vw;
  display: flex;
  justify-content: center;
}

#jftextoprincipal {
  width: 90vw;
  text-align: center;
  margin-top: 5px;
  z-index: 7;
}

main > h1 {
  margin-top: -1px;
}

.logozinho {
  position: absolute;
  align-items: flex-end;
  z-index: 4;
  top: 10px;
  display: flex;
  justify-content: flex-end;
  margin-left: 80vw;
  height: 40px;
}

.botaomais {
  height: 20px;
  display: flex;
  justify-content: flex-end;
  background: transparent;
  border: none;
  margin-top: -20px;
  margin-right: 2vw;
}

.botaomais > img {
  height: 5vh;
}

.grid-item {
  background-color: rgba(12, 12, 12, 0.6);
  background-blend-mode: darken;
  border-radius: 10px;
  padding-left: 10px;
  padding-top: 22px;
  background-size: cover;
  align-content: center;
  justify-content: space-around;
  transition: 0.5s;
  transition-timing-function: ease-in-out;
  z-index: 3;
}

.bgimgs {
  position: relative;
  margin-left: 10px;
  margin-right: 7px;
  z-index: 1;
  margin-top: -40px;
}

#textoap {
  margin: 10px;
  font-weight: 400;
  text-align: left;
}

.container {
  display: flex;
  flex-direction: row;
}

#textoprincipal {
  opacity: 100%;
  background-size: cover;
  width: 50vw;
  font-size: 3vh;
  max-height: 100%;
}

.title {
  background-image: url("/img/img-parceiros/bg/aulaspraticasbg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: darken;
  background-position: center;
  width: 40%;
  margin-left: 3vw;
  background-color: rgba(12, 12, 12, 0.52);
  max-width: 210px;
  min-height: 170px;
}

.title > h1 {
  width: 10px;
  height: 10px;
  font-weight: 500;
  font-size: 2.5vh;
  text-transform: uppercase;
  margin-top: 10px;
  margin-left: 5px;
}

#rurallogotipo {
  height: 56px;
  margin-left: 2px;
}

#pplogotipo {
  height: 30px;
  margin-top: 10px;
  margin-left: 1px;
}

#originallogotipo {
  height: 26px;
  margin-top: 13px;
}

#eldoradologotipo {
  height: 30px;
  margin-top: 14px;
  margin-left: -3px;
}

.texto-conclusao {
  margin-left: 3vh;
  margin-top: 10px;
  z-index: 7;
  margin-right: 2vh;
  font-weight: normal;
}

#floralogotipo {
  height: 50px;
  margin-left: 10px;
}

#estaginho {
  margin-top: 35px;
}

.swiftlabel {
  display: block;
  position: relative;
  margin-top: 40px;
  margin-left: 10px;
  margin-right: 10px;
  z-index: 2;
  background-repeat: no-repeat;
  background-image: url("/img/img-parceiros/bg/estagios/bgswift.png");
  border-radius: 6px;
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(12, 12, 12, 0.8);
  width: 295px;
  height: fit-content;
}

.estagiossufit {
  width: 290px;
  height: 200px;
  border: 4px solid #f04e29;
  border-radius: 7px;
  position: relative;
  z-index: 0;
}

.estitulos {
  font-weight: bolder;
  font-size: 2vh;
}

.textosestagios {
  width: 90%;
  padding-bottom: 3vh;
  padding-top: 1vh;
}

#logotiposwift {
  height: 40px;
  margin-top: 20px;
  padding-bottom: 7px;
  margin-bottom: 7px;
  border-radius: 2px;
  width: fit-content;
}

.container-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33%;
  height: auto;
  border-bottom: 2px solid #fff;
  margin-bottom: 10px;
}

.friboicontainer {
  display: block;
  position: relative;
  margin-top: 40px;
  margin-left: 3vw;
  margin-right: 10px;
  z-index: 2;
  background-repeat: no-repeat;
  background-image: url("/img/img-parceiros/bg/estagios/bgfriboi.png");
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(12, 12, 12, 0.8);
  width: 90vw;
  border: 2px solid #ffffff;
  border-radius: 7px;
  position: relative;
  height: fit-content;
  z-index: 0;
  min-height: 25vh;
}

.estitulosfriboi {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 1.8vh;
  background: #1f1f1f;
  position: relative;
  z-index: 2;
  margin-top: -20px;
  padding: 6px;
  width: fit-content;
  border: none;
  margin-left: 20px;
  text-align: left;
  font-weight: bolder;
  margin-bottom: 4px;
}

.imgfribasbg {
  height: 50px;
}

.loguinhos {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-left: -20px;
  margin-bottom: 10px;
  padding-bottom: 5px;
  padding-top: 1vh;
}

.friboicontent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-height: min-content;
}

#searaloguinho {
  border-radius: 2px;
}

#swiftestagiop {
  width: 265px;
  margin-left: 15px;
  padding-bottom: 2vh;
}

#gerenteswift {
  height: 250px;
}

.origicontainer {
  display: block;
  position: relative;
  margin-top: 40px;
  margin-left: 3vw;
  margin-right: 10px;
  z-index: 2;
  background-repeat: no-repeat;
  background-image: url("/img/img-parceiros/bg/estagios/bgoriginal.png");
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(12, 12, 12, 0.8);
  width: 90vw;
  border: 2px solid #ffffff;
  border-radius: 7px;
  position: relative;
  height: fit-content;
  z-index: 0;
  min-height: 25vh;
}

#logotiporigi {
  height: 30px;
  width: fit-content;
  margin-top: 20px;
  padding-bottom: 1vh;
  margin-bottom: 1vh;
  border-radius: 2px;
}

.piccontainer {
  display: block;
  position: relative;
  margin-top: 40px;
  margin-left: 3vw;
  margin-right: 10px;
  z-index: 2;
  background-repeat: no-repeat;
  background-image: url("/img/img-parceiros/bg/estagios/bgpicpay.png");
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-color: rgba(12, 12, 12, 0.8);
  width: 90vw;
  border: 2px solid #ffffff;
  border-radius: 7px;
  position: relative;
  height: fit-content;
  z-index: 0;
  min-height: 25vh;
}

#logotippic {
  height: 30px;
  width: fit-content;
  margin-top: 20px;
  padding-bottom: 7px;
  margin-bottom: 7px;
  border-radius: 2px;
}

.jbscontainer {
  display: block;
  position: relative;
  margin-top: 40px;
  margin-left: 3vw;
  margin-right: 10px;
  z-index: 2;
  background-repeat: no-repeat;
  background-image: url("/img/img-parceiros/bg/estagios/bgjbs.png");
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-color: rgba(12, 12, 12, 0.8);
  width: 90vw;
  border: 2px solid #ffffff;
  border-radius: 7px;
  position: relative;
  height: fit-content;
  z-index: 0;
  justify-content: center;
  align-items: center;
  min-height: 25vh;
}

.alunosforad {
  background-image: url("/img/img-parceiros/bg/superbg.png");
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: rgba(12, 12, 12, 0.8);
  width: 100%;
  z-index: -1;
  min-height: 38vh;
  min-width: 320px;
}

#textinho {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.swiftcontainer {
  display: block;
  position: relative;
  margin-top: 40px;
  margin-left: 3vw;
  margin-right: 10px;
  z-index: 2;
  background-repeat: no-repeat;
  background-image: url("/img/img-parceiros/bg/estagios/bgswift.png");
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  background-color: rgba(12, 12, 12, 0.8);
  width: 90vw;
  border: 2px solid #ffffff;
  border-radius: 7px;
  position: relative;
  height: fit-content;
  z-index: 0;
  min-height: 25vh;
}

.wrapper a {
  display: inline-block;
  text-decoration: none;
  padding: 15px;
  background-color: #ffff;
  border-radius: 3px;
  text-transform: uppercase;
  color: #000000;
  font-family: "Roboto", sans-serif;
}

.modal {
  height: inherit;
  padding-right: 0px;
  margin-right: 0px;
  width: inherit;
  z-index: 20;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(30, 30, 31, 0.61);
  transition: all 0.4s;
}

.modal:target {
  visibility: visible;
  opacity: 1;
}

.modal__content {
  height: inherit;
  line-height: 125%;
  color: #000000;
  border-radius: 4px;
  position: relative;
  width: 500px;
  max-width: 60vw;
  background: #fff;
  padding: 2vh 3vh;
  font-size: 2vh;
}

.modal__content > h1 {
  font-weight: 800;
  margin-bottom: 10px;
  font-size: 3vh;
}

.modal__content > p {
  font-size: 2.6vh;
}

.modal__footer {
  text-align: right;
}
.modal__footer > a {
  color: #585858;
}

.modal__footer > i {
  color: #d02d2c;
}

.modal__close {
  font-size: 7vh;
  font-weight: 600;
  color: rgb(255, 255, 255);
  position: absolute;
  top: 2px;
  right: 10px;
  text-decoration: none;
  text-shadow: 2px 2px 6px rgba(12, 12, 12, 0.52);
}

.bgmodal {
  border-radius: 10px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  background-size: cover;
  background-position: center;
  height: 20vh;
  margin-bottom: 1.75vh;
  margin-right: -19px;
  margin-left: -19px;
  margin-top: -30px;
}

#bgmodaljbs {
  background-image: url("../img/img-parceiros/bg/jbs-modal-bg.png");
}

#bgmodaloriginal {
  background-image: linear-gradient((0, 0, 0, 0.7), (0, 0, 0, 0.7)),
    url("../img/img-parceiros/bg/original-modal-bg.jpg");
}

#bgmodalflora {
  background-image: url("../img/img-parceiros/bg/original-modal-bg.jpg");
}

/*MEDIA QUERY*/

@media only screen and (min-width: 325px) and (max-width: 420px) {
  .grid-parceiros {
    grid-template-columns: repeat(3, 26vw);
  }

}

@media only screen and (min-width: 420px) {
  .grid-parceiros {
    grid-template-columns: repeat(3, 29vw);
    grid-template-rows: repeat(3, 25vh);
  }

  .botaomais > img {
    height: 7vh;
  }

  .botaomais {
    margin-left: 16vw;
  }

  .logozinho {
    margin-left: 85vw;
    height: 9vh;
  }


  #jbslogotipo {
    height: 6vh;
    margin: 0 auto;
    margin-top: 30px;
    margin-left: 3vw;
  }

  #originallogotipo {
    height: 5.8vh;
    margin-top: 5vh;
    margin-left: 1vw;
  }

  #pplogotipo {
    height: 6vh;
    margin-top: 6vh;
    margin-left: 3vw;
  }

  #floralogotipo {
    height: 12vh;
    margin-left: 4vw;
    margin-top: 2vh;
  }

  #rurallogotipo {
    height: 12vh;
    margin-left: 2.5vw;
    margin-top: 3vh;
  }

  #ambarlogotipo {
    height: 7.5vh;
    margin-top: 5vh;
    margin-left: 2vw;
  }

  #eldoradologotipo {
    height: 6vh;
    margin-top: 5vh;
    margin-left: 2vw;
  }
}

@media only screen and (min-width: 500px) {
  .friboicontainer,
  .swiftcontainer,
  .origicontainer,
  .piccontainer,
  .jbscontainer {
    min-height: 30vh;
    align-items: center;
  }

  .friboicontent {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .loguinhos {
    height: fit-content;
    margin: 1vh;
    display: flex;
    flex-wrap: wrap;
    border: none;
    width: fit-content;
  }
  .textosestagios {
    width: 50%;
    padding-top: 4vh;
  }

  #friboiloguinho {
    height: 8vh;
  }

  #floraloguinho {
    height: 8vh;
    padding-right: 2vw;
  }
  #logotiposwift {
    border-bottom: 0px;
    height: 9vh;
  }

  #logotiporigi {
    border-bottom: 0px;
    height: 8vh;
  }

  #logotippic {
    border-bottom: 0px;
    height: 8vh;
  }

  #searaloguinho {
    border-bottom: 0px;
    height: 8vh;
  }

  .logosestagios {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }
  .logozinho {
    margin-left: 86vw;
    height: 9vh;
  }

  .grid-parceiros {
    grid-template-columns: repeat(3, 28vw);
  }

  .botaomais > img {
    height: 8vh;
  }

  #jbslogotipo {
    height: 6vh;
    margin: 0 auto;
    margin-top: 30px;
    margin-left: 4vw;
  }

  #originallogotipo {
    height: 6vh;
    margin-top: 5vh;
    margin-left: 2vw;
  }

  #pplogotipo {
    height: 6.5vh;
    margin-top: 5vh;
    margin-left: 3vw;
  }

  #floralogotipo {
    height: 12.5vh;
    margin-left: 5vw;
  }

  #rurallogotipo {
    height: 12vh;
    margin-left: 3.5vw;
    margin-top: 3vh;
  }

  #ambarlogotipo {
    height: 8vh;
    margin-top: 5vh;
    margin-left: 3vw;
  }

  #eldoradologotipo {
    height: 7vh;
    margin-top: 5vh;
    margin-left: 1vw;
  }
}

@media only screen and (min-width: 660px) and (max-width: 1700px) {
  .container-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33%;
    height: 110px;
    border-right: 2px solid #fff;
    border-bottom: 0;
  }

  .logozinho {
    margin-left: 90vw;
    height: 9vh;
  }
  #jftextoprincipal {
    margin-right: 30px;
    margin-bottom: 15px;
    font-size: 2.6vh;
  }

  .texto-conclusao {
    font-size: 1vw;
  }

  .botaomais > img {
    height: 8vh;
  }

  #jbslogotipo {
    height: 7vh;
    margin: 0 auto;
    margin-top: 30px;
    margin-left: 5vw;
  }

  #originallogotipo {
    height: 7vh;
    margin-top: 5vh;
    margin-left: 3vw;
  }

  #pplogotipo {
    height: 7vh;
    margin-top: 5.5vh;
    margin-left: 5vw;
  }

  #floralogotipo {
    height: 13vh;
    margin-left: 6vw;
  }

  #rurallogotipo {
    height: 13vh;
    margin-left: 5vw;
    margin-top: 3vh;
  }

  #ambarlogotipo {
    height: 9vh;
    margin-top: 6vh;
    margin-left: 4.3vw;
  }

  #eldoradologotipo {
    height: 8vh;
    margin-top: 5vh;
    margin-left: 3vw;
  }
}

@media only screen and (min-width: 720px) and (max-width: 1700px) {
  body {
    font-size: 2.4vh;
    line-height: 3.2vh;
  }

  #textoap {
    margin-left: 3vw;
    max-width: 50vw;
    line-height: 3.2vh;
  }

  .title {
    scale: 7;
    min-width: 40vw;
    min-height: 50vh;
  }

  .titulosimg {
    font-size: 3vh;
    line-height: 3vh;
    margin-bottom: -10px;
    margin-top: -60px;
  }

  #textoprincipal {
    font-size: 4vh;
    line-height: 4vh;
    margin-left: 6vw;
  }

  .grid-parceiros {
    grid-template-columns: repeat(3, 26vw);
    grid-template-rows: repeat(3, 29vh);
    grid-gap: 3vw;
    margin-top: 12px;
    z-index: 3;
  }

  .texto-conclusao {
    font-size: 2.4vh;
  }

  #jbslogotipo {
    height: 8vh;
    margin: 0 auto;
    margin-top: 40px;
    margin-left: 4vw;
  }

  #originallogotipo {
    height: 8vh;
    margin-top: 7vh;
    margin-left: 2.3vw;
  }

  #pplogotipo {
    height: 8vh;
    margin-top: 7vh;
    margin-left: 4.3vw;
  }

  #floralogotipo {
    height: 14vh;
    margin-left: 6vw;
    margin-top: 3vh;
  }

  #rurallogotipo {
    height: 16vh;
    margin-left: 4vw;
  }

  #ambarlogotipo {
    height: 10vh;
    margin-top: 6vh;
    margin-left: 4vw;
  }

  #eldoradologotipo {
    height: 9vh;
    margin-top: 7vh;
    margin-left: 2vw;
  }
}

@media only screen and (min-width: 832px) and (max-width: 1700px) {
  .botaomais > img {
    height: 9vh;
  }
  .botaomais {
    margin-right: 1vw;
  }

  .grid-parceiros {
    grid-template-columns: repeat(3, 26vw);
    grid-template-rows: repeat(3, 34vh);
    grid-gap: 2vw;
    margin-top: 12px;
    z-index: 3;
  }

  .titulosimg {
    line-height: 3.4vh;
    font-size: 4vh;
  }

  #jbslogotipo {
    height: 9vh;
    margin: 0 auto;
    margin-top: 52px;
    margin-left: 4.7vw;
  }

  #originallogotipo {
    height: 9vh;
    margin-top: 8vh;
    margin-left: 2.5vw;
  }

  #pplogotipo {
    height: 9vh;
    margin-top: 9vh;
    margin-left: 5vw;
  }

  #floralogotipo {
    height: 16vh;
    margin-left: 7vw;
    margin-top: 4vh;
  }

  .estitulosfriboi {
    font-size: 2.5vh;
  }

  #rurallogotipo {
    height: 17vh;
    margin-top: 5vh;
    margin-left: 4.8vw;
  }

  #ambarlogotipo {
    height: 11vh;
    margin-top: 8vh;
    margin-left: 4vw;
  }

  #eldoradologotipo {
    height: 10vh;
    margin-top: 8vh;
    margin-left: 3vw;
  }
  #jftextoprincipal {
    font-size: 3vh;
  }
}

@media only screen and (min-width: 944px) and (max-width: 1700px) {
  .textosestagios {
    padding-top: 3vh;
  }
}

@media only screen and (min-width: 1050px) and (max-width: 1700px) {
  .botaomais {
    margin-left: 16vw;
  }

  #jbslogotipo {
    height: 9vh;
    margin: 0 auto;
    margin-top: 52px;
    margin-left: 6vw;
  }

  #originallogotipo {
    height: 10vh;
    margin-top: 8vh;
    margin-left: 5vw;
  }

  #floralogotipo {
    height: 18vh;
    margin-left: 6vw;
  }

  #pplogotipo {
    height: 10vh;
    margin-top: 9vh;
    margin-left: 5vw;
  }

  #rurallogotipo {
    height: 19vh;
    margin-top: 4vh;
    margin-left: 6vw;
  }

  #ambarlogotipo {
    height: 13vh;
    margin-top: 8vh;
    margin-left: 5vw;
  }

  #eldoradologotipo {
    height: 13vh;
    margin-top: 8vh;
    margin-left: 2vw;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 2500px) {
  #jbslogotipo {
    height: 9vh;
    margin-left: 7vw;
    margin-top: 9vh;
  }

  #originallogotipo {
    height: 10vh;
    margin-top: 9vh;
    margin-left: 5vw;
  }

  #pplogotipo {
    height: 10vh;
    margin-left: 6.5vw;
  }

  #floralogotipo {
    height: 17vh;
    margin-left: 8vw;
    margin-top: 5vh;
  }

  #jbscard:hover {
    background: #af191e;
  }

  #originalcard:hover {
    background: #477530;
  }

  #floracard:hover {
    background: #627ad9;
  }

  #picpaycard:hover {
    background: #116632;
  }

  #ruralcard:hover {
    background: #0a323f;
  }

  #ambarcard:hover {
    background: #918336;
  }

  #eldoradocard:hover {
    background: #3b8081;
  }

  #rurallogotipo {
    height: 20vh;
    margin-top: 4vh;
    margin-left: 6vw;
  }

  #ambarlogotipo {
    height: 13vh;
    margin-top: 7vh;
    margin-left: 6vw;
  }

  #eldoradologotipo {
    height: 13vh;
    margin-top: 8vh;
    margin-left: 4vw;
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(183, 184, 184);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #7174ff;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2e3092;
  transition: ease-in-out;
  border-radius: 10px;
}
